.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.cell {
    flex: 0 10 33%;
    height: 80px;
    /* width: 50px; */
    margin-bottom: 5px;
    background-color: #999;
}